.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section {
    padding: 20px;

    cursor: pointer;
    transition: 0.2s ease-in-out;

    box-shadow: 0 0 5px 0 #CCC;

    font-size: 20px;
}

.section:hover {
    color: #FFF;
    background: var(--primary-hover);
}
